body{
  background color: coral;
  width: auto;

}
.HorizontalList{
   list-style: none outside none;
   margin:0;
   padding-left: 0;
   text-align: center;
   background-color: bisque;
   text-decoration: overline;
   text-decoration: underline;

}
li {
  margin: 0 10px;
  display: inline;
}
.cakes{
  display: block;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px

}
