@font-face {
  font-family: myFirstFormat;
  src: url(./img02/SimplyGlamorous.woff);

}
body{
  background-image: url(./img02/Background.jpg);
  background-size: 100%,100%;
  background-repeat: no-repeat;

}

h1,.HorizontalList{
  font-family: myFirstFormat;
}

.MenuList{
  background-color: tomato;

}
.HorizontalList{
   list-style: none outside none;
   margin:0;
   padding-left: 0;
   text-align: center;
   background-color: bisque;
   text-decoration: overline;
   text-decoration: underline;
   font-weight: 900;
}
li {
  margin: 0 10px;
  display: inline;
}
.cakes{
  display: block;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px

}
.missionstatment{
  text-align: right;
  font-weight: bolder;
  

}
