@font-face {
	font-family: 'SimplyGlamorous';
	src: url('./SimplyGlamorous.eot');
	src: local('SimplyGlamorous'), url('./SimplyGlamorous.woff') format('woff'), url('./SimplyGlamorous.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_68513">Text with this font applied</p> */
.fontsforweb_fontid_68513 {
	font-family: 'SimplyGlamorous' !important;
}

/* Font downloaded from FontsForWeb.com */